/* Hide the scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  width: 0 !important;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

/* Optionally, you can style the scrollbar track and thumb */
.scrollbar-hide::-webkit-scrollbar-track {
  background-color: transparent; /* Set to transparent or your desired color */
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set to transparent or your desired color */
}
.absolute-overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none; 
}