@tailwind base;
@tailwind components;
@tailwind utilities;

span{
    display:inline-block;
    font-size: 5rem;

}

@keyframes rubberBand {
    0% { transform: scale(1); }
    25% { transform: scale(1.4, 0.55); }
    50% { transform: scale(0.75, 1.25); }
    75% { transform: scale(1.25, 0.85); }
    100% { transform: scale(0.9, 1.05); }
  }



  